
/*General Format*/
/*html {
  height: 100%;
}

body {
  font-family:Arial;
  font-size:14px;
  margin:0px;
  height: 100%;
}
*/
textarea {
  font-family:Calibri;
  font-size:16.5px;
}

label {
  border: 1px solid #69C;
}

input[type="submit"]{
  font-weight: bold;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 10px 5px 5px 5px;
  white-space: nowrap;
  cursor: pointer;
  border: 1px solid #69C;
  border-radius: 5px 5px 5px 5px;
  width: 100px;
}

input[type="button"]{
  font-weight: bold;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 10px 5px 5px 5px;
  white-space: nowrap;
  cursor: pointer;
  border: 1px solid #69C;
  border-radius: 5px 5px 5px 5px;
  width: 100px;
}

a:link {
  font-weight: bold;
  text-decoration: none;
  color: #454545;
}

a:visited {
  font-weight: bold;
  text-decoration: none;
  color: #454545;
}

a:hover {
  font-weight: bold;
  text-decoration: none;
  color: #0026FF;
}

a:active {
  font-weight: bold;
  text-decoration: none;
  color: #0026FF;
}

/*Login*/
.Login table {
  border: 8px solid lightgray;
  border-radius: 5px 5px 5px 5px
}

.Login tr th {
  text-align: left;
  border: 1px solid rgb(97,151,217);
  background-image: url("images/blue.jpg");
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.Login td {
  border: 0px;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

#error-msg {
  font-size: 11px;
  background: maroon;
  color: white;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 10px;
  text-align: left;
}

/*
#login-footer {
  text-align: right;
  border: 1px solid lightgray;
  background: rgb(255,255,209);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.add_info table {
  margin-top: 15px;
}

.add_info td {
  color: darkgray;
  padding-top: 5 px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

/*page footer*/
.login-footer td {
  font-size: 11px;
  color: darkgray;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
*/

/*main button 例： ユーザー一覧、会社一覧等**/
.main-button {
	font-weight: bold;
	border: 2px solid rgb(85,142,213);
	border-radius: 5px 5px 5px 5px;
	/*background-image: url("images/GradientBlue.jpg");*/
	background-color: LightSkyBlue;
	padding: 10px;
}

.main-buttons button {
	margin-top: 20px;
	margin-left: 20px;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px dotted darkgray;
	border-radius: 5px 5px 5px 5px;
	white-space: nowrap;
}

.main-buttons table{  
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
	padding: 0px;
}
.main-buttons td {
	font-weight: bold;
	font-size: 12px;
	text-align: center;
	cursor: pointer;
	padding-top: 6px;
	padding-bottom: 0px;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px dotted darkgray;
	border-radius: 5px 5px 5px 5px;
	white-space: nowrap;
}
.main-button-over {
	/*background-image: url("images/GradientLightBlue.jpg");*/
	background-color: lightblue;
}

.sublist-buttons table {
	margin-top: 5px;
	margin-left: 20px;
	margin-bottom: 0px;
	padding: 0px;
}
.sublist-buttons td {	
	padding-top: 6px;
	padding-bottom: 0px;
	padding-left: 10px;
	padding-right: 10px;	
}

.save-buttons table {
	margin-top: 0px;
	margin-left: 10px;
	margin-bottom: 0px;
	padding: 0px;
}
.save-buttons td{
	margin-left: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 10px;
}

/*control buttons for View*/
.control-view-buttons td{
	padding-right: 0px;
	padding-left: 0px;
	margin-left: 0px;
}
.control-view-buttons table{
	margin-left: 0px;
}


/*page header*/
.page-header th {
  background-image: url("images/logo.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  height: 30px;
}

.page-header td {
  font-weight: bold;
  color: beige;
  background-repeat: repeat-x;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;  
}

.page-header a {
  color: beige;
}

/*sidebar menu*/
.sidebar-menu table {
  width: 180px;
  color: black;
  border-collapse: separate;
  border-spacing: 5px;
  padding-left: 7px;
  padding-right: 5px;
  padding-top: 10px;
}

.sidebar-menu td {
  font-weight: bold;
  text-align: left;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px dotted darkgray;
  border-radius: 5px 5px 5px 5px;
  white-space: nowrap;
}

.sidebar-menu-button {
  background-image: url("images/GradientLightGray.jpg");
  background-size: cover;
}

.sidebar-menu-button-over {
  background-image: url("images/GradientGray.jpg");  
  background-size: cover;
}

.sidebar-menu-button-selected {
  background-image: url("images/GradientLightBlue.jpg");
  background-size: cover;
}

.sidebar-menu-button-selected-over {
  background-image: url("images/GradientBlue.jpg");  
  background-size: cover;
}

/*Control menu - 制御画面のボタン*/
.control-menu td {
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border: 1px dotted darkgray;
	border-radius: 5px 5px 5px 5px;
	white-space: nowrap;
}

/*Table format*/
/*
.page-table table {
	font-size: 14px;
	margin-top: 0px;
	margin-left: 20px;
	/*margin-right: 20px;*/
	cursor: pointer;
	padding-top: 10px;
	width: 98%;
}

.page-table tr th {
  font-size: 14px;
  text-align: left;
  border: 1px solid rgb(97,151,217);
  border-left: 0px;
  border-right: 0px;
  background-color: LightSteelBlue;
  /*background-image: url("images/blue.jpg");*/
  padding: 5px;
}

.page-table td {
  border-top: 0px;
  border-bottom: 1px dotted darkgray;
  border-left: 0px;
  border-right: 0px;
  padding: 2px;  
}
.page-table-normal {
  background: white;
  color: #454545; 
}

.page-table-item-over {
  background: lightgray;
  color: black;
}

.page-table-alternate {
  background: #DDD;
  color: #454545; 
}
*/
/*process flow*/
.process-guide table{    
	font-size: 12px;
	font-size: 13px;
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 0px;
	padding-bottom: 10px;
}
a.process-guide:link {
	text-decoration: underline;
	color: #00137F;
}

a.process-guide:visited {
	text-decoration: underline;
	color: #00137F;
}

a.process-guide:hover {
	text-decoration: underline;
	color: #00137F;
}

.contents-normal table {
	border: 1px dotted darkgray;
	-moz-border-radius: 15px;
	border-radius: 15px;
	margin-left: 20px;
	font-size: 14px;
	vertical-align: middle;
	background-color: WhiteSmoke;
	background-position: center -25px; 
	padding-top: 150px; 
	overflow: hidden;	
}

.contents-normal td {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.navigation-control table {
  margin-left: 20px;
}

.navigation-control td {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 0px;
  padding-right: 10px;
}

/*Tabbed navigation*/
.tab-menu ul li {
  display:inline;
  border:solid;
  border-width:1px 1px 0 1px;
  margin: 0;
  border-radius: 5px 5px 0px 0px;
  padding: 10px 20px;
  background-image: url('images/GradientLightBlue.jpg');
  float:left;
}

#tab-selected {
  top:1px;
  background: white;
  position:relative;
}

.tab-contents {
	border:1px solid;
	clear:both;
	display:block;
	width:800px;
	height:500px;
}

/* Welcome bar*/
.welcome-bar {
	padding: 5;
	margin: 0;
	height: 30px;	
	text-align: right;
	font-size: 14px;
	line-height: 30px;
	background-image: url('images/blue.jpg');
}

